<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="panel small-9 small-centered large-centered columns">
        <h1>All Users</h1>
        <% @users.each do |user| %>
          <%= user.username %>
        <% end %>
      </div>
    </div>
  </div>
</div>
